*{
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: "微軟正黑體";
}

.container{
  margin: 5%;
  display: block;
}

.content{
  margin: 5%;
  display:block;
  overflow: hidden;
  text-align: center;
  /* align-items:center;
  justify-content:center;
  justify-content:space-around; */
}

h1{
  font-size: 2vw;
  font-weight: normal;
}

p{
  display: block;
  overflow: hidden;
  font-size: 2vw;
}

/***showbox***/
span{
  display: block;
  float: right;
  font-size: 4.5vw;
  font-size: 4.5vmax;
  font-family: 'PT Sans', sans-serif;
}
/****date***/
.spandate{
  display: block;
  float: right;
  font-size: 1.5vw;
  font-family: 'PT Sans', sans-serif;
}

.selectLabel{
  vertical-align:top;  /**baseline**/
  margin: 0;
  height: 10%;
  width: 30%;
  max-width: 200px;
  font-size: 3.78vw;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}


option{
  background-color: #fff;
  -webkit-transition: -webkit-transform 300ms ease;
}

option:hover{
  background-color: #333;
  color: #fff;
}

/****six div ****/
.SO2{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 18%;
  max-height: 210px;
  height: 200vh;
  float: left;
  /*background-color: #CCC;*/

}

.STU{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 20%;
  height: 210px;
  float: left;
  font-size: 1.7vw;
  /*background-color: #CCC;*/


}

.CO{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 20%;
  height: 210px;
  float: left;
  font-size: 1.7vw;
  /*background-color: #CCC;*/


}

.CO8H{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 20%;
  height: 210px;
  float: left;
  font-size: 1.7vw;
  /*background-color: #CCC;*/


}

.AQI{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 20%;
  height: 210px;
  float: left;
  font-size: 1.7vw;
  /*background-color: #CCC;*/
}





-----------------
