html{
  background-color: #202020;
  padding: 2%;
  font-family: 'Skranji', cursive;
  font-size: 48px;
}

.container{
  text-align: center;
  width: auto;
  height: 90%;
  color: white;
  }

.painocontainer{
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
}

.keybord{
  display: table;
  float: left;
  width: 50px;
  height: 200px;
  background-color: #707070;
  border:#C0C0C0 3px solid;
}

.keybord:hover{
  background-color: #ccc;

}

button{
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #555555;
}

button:hover{
  box-shadow: h-shadow v-shadow blur spread color inset;
  box-shadow: 0 0 15px #a1a1a1;
}
